#restart {
    width: 510px;
}

#canvas {
    background-color: #f3f3f4;
}

#infoContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 110px;
    margin-left: -250px;
    margin-top: -55px;
    padding: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    opacity: 0.7;
    color: #fff;
}

.errorMessage {
    background-color: #a94442;
}

.successMessage {
    background-color: #3c763d;
}